body {
  background-image: url("/images/abstract-background-92.jpg");
  background-attachment: fixed;
  background-size:100%;
  color: white;
  margin: 0 auto;
}

.nav-bar {
  background: rgba(159, 194, 206, 0.6);
  height:14vh;
  width:100vw;
  font-size:5vh;
}

.nav-bar #link {
    color: rgb(211, 224, 230);
    list-style: none;
    position: relative;
    left:14%;
    right:10%;
    margin:3%;
    text-decoration: none;
    flex-direction: column;
    display: inline-block;
    justify-content: space-between;
}

.main-title {
  display:flex;
  justify-content: center;
  color: white;
}

.username {
  display:flex;
  justify-content: center;
  margin:10%;
}